/* html {
    height: 100%;
  }
  body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
  }
  
  .background {
    background-image: linear-gradient(#0a70da, #159db3, #10b197);
  } */
  
 .btn {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 45%;
    zoom: 1.5;
  }
  
  button {
    border-radius: 5px;
    font-size: 15px;
    background-color: #E4DBC2;
    border: solid #909090;
    outline: none;
  }
  
  button:hover {
    background-color: #ffe9aa;
  } 
  
  /* .modal {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
  }  */
  
  .modal_content {
    background-color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #a93f55;
  } 

  .popup_text{
    color: #a93f55;
  }
  .popup_text:hover{
    color: #909090;
  }
  
  .close {
    color: Black;
    float: right;
  }
  
  .close:hover {
    color: red;
    cursor: pointer;
  } 