.btn {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 45%;
    zoom: 1.5;
  }
  

  
  /* .modal {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
  }  */
  
  .info_modal_content {
    background-color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #a93f55;
  } 
  
  .close {
    color: Black;
    float: right;
  }
  
  .close:hover {
    color:#a93f55;
    cursor: pointer;
  } 