.landing{
    margin: 15px 30px;
    font-size: 18px;
}

.maplink{
    font-size: 30px;
    color: #909090;
    text-decoration: none;
}

.maplink:hover{
    color: #A93F55;
}

@media all and (min-width: 800px){ /*fullscreen design*/
    .landing{
        font-size: 20px;
        margin: 15px 250px;
    }


}