.newBathroom_form{
    margin: 0 50px;
}
.newBathroom_title{
    margin-left: 20px;
}
label{
    font-size: 20px;
}

.add-button{
    margin-top: 0 !important;
}


@media all and (min-width: 800px){ /*Full screen changes */
  .newBathroom_form{
      margin: 0 200px 0 50px;
  }
}